<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Liste des commandes</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Commandes</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<!-- /.card -->

					<div class="card">
						<div class="card-header">
							<h3 class="card-title">fiche des commandes</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table
								id="example1"
								class="table table-bordered table-striped"
							>
								<thead>
									<tr>
										<th>No commande</th>
										<th>status
										</th>
										<th>Commander le </th>
										<th>noParcel</th>
										<th>total</th>
										<th>points Gagnés</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{{#each rows}}

										<tr>
											<td>{{this.noCommande}}</td>
											<td>{{this.status   }}
											</td>
											<td>	{{dateFormat this.date format utc}}
</td>
											<td>{{this.noParcel}}</td>
											<td>{{this.totalCommande}}</td>
											<td>{{this.pointsGagne}}</td>
											<td>
												<a
													href="/viewcommande/{{this.noCommande}}"
													type="button"
													class="btn btn-success btn-sm"
												>
													<i
														class="fas fa-folder"
													></i>
													View</a>
												<a
													href="/editcommande/{{this.noCommande}}"
													type="button"
													class="btn btn-info btn-sm"
												><i class="fas fa-pencil-alt">
													</i>
													Edit</a>
												<a
													href="/deletecommande/{{this.noCommande}}"
													type="button"
													class="btn btn-danger btn-sm"
												>
													<i class="fas fa-trash">
													</i>
													Delete</a>

											</td>

										</tr>
									{{/each}}

								</tbody>

							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>